<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/firacode-1.204/fira_code.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/site.css">
    {% endblock head %}
</head>
<body>
    <div class="top-bar">
        <div class="grid-container">
            <div class="title">
                &gt; Ivan Habunek
            </div>
            <div class="button-group no-margin">
            {% for title, link in MENUITEMS %}
                <a href="{{ link }}" class="hollow button">{{ title }}</a>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="content">
            <div class="hide-for-large">
                <h1>Ivan Habunek</h1>
                <div class="button-group">
                    {% for title, link in MENUITEMS %}
                        <a href="{{ link }}" class="hollow button">{{ title }}</a>
                    {% endfor %}
                </div>
                {% include "partials/contact-icons.html" %}
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
