{% extends "index.html" %}

{% block title %}Talks{% endblock %}

{% block content %}
    <h1>{{ category|title }}</h1>

    <p>Here are some talks I gave, none so recently though.</p>

    {% for article in dates %}
    <hr />

    <div class="article">
        <h3>
            {{ article.title }}
            {% if article.language == 'hr' %}
                <span class="tiny label" title="This talk was given in Croatian">HR</span>
            {% endif %}
        </h3>

        <p>{{ article.description }}<br />

        {% if article.location %}
            {% if article.externallink %}
                <a href="{{ article.externallink }}">{{ article.location }}</a>
            {% else %}
                {{ article.location }}
            {% endif %}
            <br />
        {% endif %}

        <small>{{ article.locale_date }}</small></p>

        {% if article.video %}
            <a class="small hollow button" href="{{ article.video }}">Video</a>
        {% endif %}
        {% if article.slides %}
            <a class="small hollow button" href="{{ article.slides }}">Slides</a>
        {% endif %}
        {% if article.rate %}
            <a class="small hollow button" href="{{ article.rate }}">Rate me</a>
        {% endif %}
    </div>

    {% endfor %}
{% endblock %}
