{% extends "base.html" %}

{% block content %}
    <p>Hi! My name is <strong>Ivan</strong> and I'm a software developer from <strong>Zagreb, Croatia.</strong></p>
    <p>My speciality is <strong>web backend</strong> development using <strong>Python</strong> and <strong>Javascript</strong>, but I have been known to meddle with <strong>Clojure</strong> and <strong>Elixir</strong>.</p>
    <p>I am the owner of <strong><a href="http://bigfish.software/">Big Fish Software</a></strong>, established 2014. If you need something done <a href="mailto:ivan@habunek.com">give me a shout</a>.</p>
    <p>When I'm not doing paid work, I spend my time organizing the <a href="https://webcampzg.org/"><strong>WebCamp Zagreb</strong> conference</a>, or learning new skills through <a href="/projects/">pet <strong>open source</strong> projects</a>.</p>

    <p>You can find me on all these places:</p>
    {% include "partials/contact-icons.html" %}
{% endblock %}
