{% extends "base.html" %}

{% block content %}
    <p>Hi! My name is <strong>Ivan</strong> and I'm a software developer from <strong>Zagreb, Croatia.</strong></p>
    <p>I specialise in web backend development. My weapons of choice are <em>Python</em>, <em>PHP</em> and <em>Javascript</em>, but I have been known to meddle with <em>Clojure/Script</em>.</p>
    <p>Most of my free time is spent organizing the <a href="https://webcampzg.org/">WebCamp Zagreb conference</a>, or learning new skills through <a href="https://github.com/ihabunek">pet open source projects</a>.</p>
    <p>If you need something done <a href="mailto:ivan@habunek.com">give me a shout</a>.</p>
{% endblock %}
