<ul class="contact-icons">
    <li><a href="mailto:ivan@habunek.com">{% include "images/envelope.svg" %} ivan@habunek.com</a></li>
    <li><a href="https://sr.ht/~ihabunek/">{% include "images/sourcehut.svg" %} sr.ht/~ihabunek</a></li>
    <li><a href="https://github.com/ihabunek">{% include "images/github.svg" %} github.com/ihabunek</a></li>
    <li><a href="https://twitter.com/ihabunek">{% include "images/twitter.svg" %} twitter.com/ihabunek</a></li>
    <li><a href="https://mastodon.social/@ihabunek">{% include "images/mastodon.svg" %} mastodon.social/@ihabunek</a></li>
    <li><a href="https://www.linkedin.com/in/ihabunek">{% include "images/linkedin.svg" %} linkedin.com/in/ihabunek</a></li>
</ul>
