<ul class="contact-icons">
    <li>{% include "images/envelope.svg" %} <a href="mailto:ivan@habunek.com">ivan@habunek.com</a></li>
    <li>{% include "images/sourcehut.svg" %} <a href="https://sr.ht/~ihabunek/">sr.ht/~ihabunek</a></li>
    <li>{% include "images/github.svg" %} <a href="https://github.com/ihabunek">github.com/ihabunek</a></li>
    <li>{% include "images/mastodon.svg" %} <a href="https://mastodon.social/@ihabunek">mastodon.social/@ihabunek</a></li>
    <li>{% include "images/twitter.svg" %} <a href="https://twitter.com/ihabunek">twitter.com/ihabunek</a></li>
    <li>{% include "images/linkedin.svg" %} <a href="https://www.linkedin.com/in/ihabunek">linkedin.com/in/ihabunek</a></li>
</ul>
