<ul class="contact-icons">
    <li>{% include "images/envelope.svg" %} <a href="mailto:ivan@habunek.com">ivan@habunek.com</a></li>
    <li>{% include "images/github.svg" %} <a href="https://github.com/ihabunek">github.com/ihabunek</a></li>
    <li>{% include "images/codeberg.svg" %} <a href="https://codeberg.com/ihabunek">codeberg.com/ihabunek</a></li>
    <li>{% include "images/sourcehut.svg" %} <a href="https://sr.ht/~ihabunek/">sr.ht/~ihabunek</a></li>
    <li>{% include "images/bsky.svg" %} <a href="https://bsky.app/profile/ivan.habunek.com">bsky.app/profile/ivan.habunek.com</a></li>
    <li>{% include "images/mastodon.svg" %} <a href="https://mastodon.social/@ihabunek">mastodon.social/@ihabunek</a></li>
</ul>
